.client-content{
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
}

.client-name{
    width: 41.8%;
    padding: 8px 15px;
    margin: 0 10px 0 0;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    font: 15px "Times New Roman";
    outline-style: none;
}
.client-name:last-child{
    margin: 0;
}

.lable-control{
    width: 50%;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 10px;
    font: 400 16px "Times New Roman";
    color: rgba(0,0,0,0.6);
}
.date-control{
    padding: 7px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    margin: 0;
    width: 48.5%;
    float: right;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    outline-style: none;
    font: 15px "Times New Roman";
}

.client-control{
    width: 100%;
    box-sizing: border-box;
    margin: 0 10px 0 0;
    padding: 8px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    outline-style: none;
    font: 14px "Times New Roman";
    border-radius: 2px;
}

.select-control{
    width: 48.5%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 8px 15px;
    float: right;
    outline-style: none;
    color: rgba(0,0,0,0.6);
    font: 15px "Times New Roman";
}

@media (max-width: 768px) {
    .client-content{
        box-sizing: border-box;
    }
    .lable-control {
        width: 50%;
        box-sizing: border-box;
        margin: 10px 0;
        font: 14px "Times New Roman";
        line-height: 1.5;
    }
    .date-control{
        width: 55%;
        /*padding: 5px 15px;*/
        float: right;
        margin: 0;
        padding: 5px ;
        /*font: 1px "Times New Roman";*/
    }
    .client-name{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .client-name:last-child{
        margin-bottom: 0;
    }
    .select-control{
        width: 55%;
        float: right;
        padding: 5px;
    }
}