.add-post-content{
    width: 100%;
    margin-bottom:10px;
}
.add-post-control{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px;
    box-sizing: border-box;
    outline-style: none;
    font: 14px 'Times New Roman';
}