.con-mod-container{
    margin: 10px;
}
.con-mod-container h2{
    font: 600 18px 'Times New Roman';
}
.con-mod-container .con-control{
    display: flex;
    flex-wrap: wrap;
    padding: 8px 10px;
    font: 14px 'Times New Roman';
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    margin: 5px 0;
    outline-style: none;
}
.con-mod-container button{
    padding: 8px 18px;
    margin: 5px 0;
    outline-style: none;
    border-radius: 20px;
    font: 600 14px 'Times New Roman';
    border: 1px solid rgba(0,0,0,0.1);
    background-color: royalblue;
    color: #ffffff;
}
.con-mod-container button:hover{
    box-shadow: 0 0 5px royalblue;
    cursor: pointer;
}