.toolbar{
    width: 100%;
    background-color:black;
    height: 70px;
    top: 0;
    left: 0;
    box-shadow: 2px 0px 9px rgba(0,0,0,0.3);
    position: fixed;
    z-index: 20;
    color: #ffffff;
}
.toolbar-navigation{
    display: flex;
    height: 100%;
    align-items: center;
}

.toolbar-logo{
    margin-left: 2rem;
}

.toolbar-logo .a{
    /*font-size: 1.5rem;*/
    background-color: #000;
    text-decoration: none;
    color: #ffffff;
    font: 24px 'Francois One';
    transition: color 500ms ease-out;
    outline-style: none;
    border: none;
}
.toolbar-logo .a:hover, .color-cl:hover{
    color: royalblue;
}

.spacer{
    flex: 1;
}

.toolbar-navigation-items ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.toolbar-navigation-items ul li{
    padding: 0 1rem;
    font: 20px 'Francois One';
    text-transform: uppercase;
}

.toolbar-navigation-items ul li:hover, .active{
    cursor: pointer;
    color: #706E6E;
}


.toolbar-navigation-items li.btn-map .aa{
    padding: 14px 0 !important;
    font: 14px 'Francois One';
    color: #fff;
    outline-style: none;
    background-color: #000;
    border: none;
    text-transform: capitalize;
}

.toolbar-navigation-items li.btn-map .aa span{
    padding: 10px 20px;
    display: inline-block;
    zoom: 1;
    transition: 0.3s;
    border-radius: 100px;
    box-shadow: 0 0 10px #fff;
    color: #413A3A;
    background-color: #fff;
}

.toolbar-navigation-items li.btn-map .aa span:hover{
    box-shadow: 0 0 15px royalblue;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .toolbar-navigation-items{
        display: none;
    }
}
@media (max-width: 768px) {
    .toolbar-navigation-items{
        display: none;
    }
    .toolbar-logo .a{
        font-size: 20px;
    }
    .toolbar{
        height: 50px;
    }
}
