.ad-toggel-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -moz-justify-content:space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline-style: none;
    margin-right: 1rem;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 1s linear;
}

.ad-toggel-btn-line{
    width: 30px;
    height: 2px;
    background-color: #000;

}

.ad-toggel-btn:hover{
    justify-content: space-between;
}

@media (min-width: 1001px) {
    .ad-toggel-btn{
        display: none;
    }
}

