.ad-side-drawer{
    position: fixed;
    background-color:snow;
    color: #000000;
    height: 100%;
    right: 0;
    top: 0;
    width: 60%;
    max-width: 400px;
    box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.5);
    transform: translateX(200%);
    transition: transform 0.5s ease-out;
    z-index: 200;
}

.ad-side-drawer.open{
    transform: translateX(0px);
}

.ad-side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad-side-drawer li{
    margin: 0.8rem 0;
    font: 16px 'Times New Roman';
    text-transform: capitalize;
}

.log-div{
    margin: 0.8rem 0;
    font: 16px 'Times New Roman';
    text-transform: capitalize;
}

.ad-side-drawer li.btn-map a{
    padding: 14px 0 !important;
    font-size: 12px;
    color: #fff;
    outline-style: none;
}

.ad-side-drawer li.btn-map a span{
    padding: 10px 20px;
    display: inline-block;
    zoom: 1;
    transition: 0.3s;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    color: #413A3A;
    background-color: #fff;
    margin: 0 5px 15px 0;
}

.ad-side-drawer li:hover, .active{
    color: #706E6E;
    cursor: pointer;
}
.ad-side-drawer li.btn-map a span:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    color: #000;
    background-color: #fff;
    cursor: pointer;
}