.ad-toolbar{
    width: 84%;
    background-color: #ffffff;
    height: 49px;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.ad-toolbar-navigation{
    display: flex;
    height: 100%;
    align-items: center;
}

.ad-toolbar-logo{
    margin-left: 2rem;
    color: #000000;
    text-transform: uppercase;
    font: 18px 'Francois One';
    transition: color 500ms ease-out;
    outline-style: none;
}

.spacer{
    flex: 1;
}

.ad-toolbar-navigation-items ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.ad-toolbar-navigation-items li{
    padding: 0 1rem;
    font: 16px 'Francois One';
    text-transform: capitalize;
    color: #706E6E;
}

.ad-toolbar-navigation-items li:hover {
    cursor: pointer;
    color: #73818f;
}

.ad-toolbar-navigation-items li i{
    color: #3a4248;
    padding: 0 5px;
    font-size: 16px;
}
@media (max-width: 1000px) {
    .ad-toolbar-navigation-items{
        display: none;
    }
    .ad-toolbar{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .ad-toolbar-navigation-items{
        display: none;
    }
    .ad-toolbar{
        width: 100%;
    }
}
