.soc-mod-container{
    margin: 10px;
}
.soc-mod-container h2{
    font: 600 18px 'Times New Roman';
}
.soc-mod-container input{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    width: 100%;
    outline-style: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
.soc-mod-container button{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    font: 600 14px 'Times New Roman';
    background: royalblue;
    color: #ffffff;
    outline-style: none;
}
.soc-mod-container button:hover{
    box-shadow: 0 0 5px royalblue;
    cursor: pointer;
}