.ad-cont-container{
    width: 84%;
    float: right;
    display: block;
    box-sizing: border-box;
    margin: 50px auto;
}
.ad-cont-content{
    width: 97%;
    margin:0 auto 0 auto;
    box-sizing: border-box;
}
.ad-cont-content:last-child{
    margin-top: 40px;
}
.ad-cont-content table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,0.2);
}
.ad-cont-content th{
    color: #ffffff;
    background-color: #2f353a;
    padding: 8px 4px;
    text-align: left;
    font: 16px 'Times New Roman';
}
.ad-cont-content tr{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font: 14px 'Times New Roman';
    text-transform: capitalize;
}
.ad-cont-content h4{
    font: 600 16px 'Times New Roman';
    padding: 0 5px;
}

.ad-cont-content tr:hover{
    background-color: rgba(0,0,0,0.05);
}
.con-search-bar{
    padding: 8px 10px;
    border: none;
    width: 200px;
    outline-style: none;
    float: right;
    margin: 20px 10px 0 0;
    box-sizing: border-box;
    font: 14px 'Times New Roman';
}

.sr-icon{
    margin: 25px 0 0 0;
}

.con-search-div{
    float: right;
}
.on-hover:hover{
    cursor: pointer;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.pagination li{
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    font:600 14px "Times New Roman";
    margin: 10px 0;
    color: #2f353a;
}

.pagination li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

.sweet-loading-cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0%;
}
@media (max-width: 1000px) {
    .ad-cont-container{
        width: 100%;
        margin: 50px auto;
    }
    .ad-cont-content th, .ad-cont-content tr{
        display: block;
    }
    .ad-cont-content tr { border: 1px solid #ccc; }
    .ad-cont-content td{
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: block;
    }
    .ad-cont-content td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .ad-cont-content td:nth-of-type(1):before { content: "Id"; }
    .ad-cont-content td:nth-of-type(2):before { content: "F. Name"; }
    .ad-cont-content td:nth-of-type(3):before { content: "L. Name"; }
    .ad-cont-content td:nth-of-type(4):before { content: "Contact No."; }
    .ad-cont-content td:nth-of-type(5):before { content: "Email Id"; }
    .ad-cont-content td:nth-of-type(6):before { content: "Message"; }
    .ad-cont-content td:nth-of-type(7):before { content: "Done"; }
}