.view-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
}
.view-head{
    margin: 5px 10px;
    font: 600 18px 'Times New Roman';
}
.view-content{
    display: block;
    width: 180px;
    margin: 0;
}
.ul-element{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.c-id{
    margin: 0px 80px;
}
.view-container li{
    list-style: none;
    padding: 5px;
}
.view-header{
    color: #706E6E;
    font: 15px 'Times New Roman';
}
.view-data{
    text-transform: capitalize;
    font:  600 14px 'Times New Roman';
    text-align: left;
    overflow: auto;
}

@media (max-width: 767px) {
    .view-container{
        margin-left: 20px;
    }
    .c-id{
        margin: 0 20px;
    }
    .view-content{
        width: 150px;
    }
}