.picture-content{
    width: 100%;
    margin: 10px auto;
}
.picture-control{
    width: 100%;
    padding: 8px 0;
    font: 14px 'Times New Roman';
}
.select-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    margin: 10px auto;
}