.award-content{
    display: block;
    margin: 0 auto 10px auto;
}

.award-head{
    font: 600 20px "Times New Roman";
}

.award-control{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid rgba(0,0,0,0.150);
    border-radius: 2px;
    box-sizing: border-box;
    font: 15px "Times New Roman";
    outline-style: none;
}