.form-head{
    text-transform: capitalize;
    font: 600 18px "Times New Roman";
    line-height: 1.5;
}

.form2-content{
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
}

.name-control{
    width: 41.7%;
    padding: 10px 15px;
    margin: 0 10px 0 0;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    font: 400 16px "Times New Roman";
    outline-style: none;
}

.name-control:last-child{
    margin: auto;
}

.form2-control{
    width: 100%;
    padding: 10px 15px;
    margin: 0 10px 0 0;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    box-sizing: border-box;
    font: 400 16px "Times New Roman";
    outline-style: none;
}

.appo-btn{
    line-height: 2.5;
    width: 90px;
    border: none;
    background-color: royalblue;
    color: #FFFFFF;
    border-radius: 20px;
    outline-style: none;
}

.appo-btn:hover{
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.modal{
    border-radius: 5px;
    box-shadow: 0 0 4px white;
}

.close-btn:hover{
    cursor: pointer;
    outline-style: none;
}

.transitionEnter-an {
    transform: scale(0);
}
.transitionEnterActive-an {
    transform: scale(1);
    transition: transform 1000ms ease-in;
}
.transitionExit {
    transform: scale(1);
}
.transitionExitActive {
    transform: scale(0);
    transition: transform 1000ms ease;
}
.error-span{
    color: red;
    font: 16px 'FreeSans';
}
@media (max-width: 768px) {
    .name-control{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
}