.del-container{
    width: 100%;
    display: block;
    font: 20px 'Times New Roman';
    margin: 20px;
}

.del-btn{
    width: 100%;
    margin: 10px 0;
}

.del-btn button{
    width: 50px;
    outline-style: none;
    background: transparent;
    border-radius: 2px;
    margin-right: 10px;
    padding: 4px;
    font: 600 14px 'Times New Roman';
    border: 1px solid rgba(0,0,0,0.2);
}
.del-btn button:first-child{
    color: red;
}
.del-btn button:last-child{
    color: green;
}
.del-btn button:first-child:hover{
    background: red;
    cursor: pointer;
    color: #ffffff;
}
.del-btn button:last-child:hover{
    background: green;
    cursor: pointer;
    color: #ffffff;
}