.admin-pr-container{
    width: 84%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto 10px auto;
}

.admin-pr-card{
    width: 200px;
    font: 14px "Times New Roman";
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin:10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 5s;
}

.admin-pr-card h4{
    text-transform: capitalize;
}
.admin-pr-card:hover{
    background-image: linear-gradient(to right top,rgba(135, 131, 155,0.15),rgba(135, 131, 155,0.1),rgba(55, 44, 106,0));
    /*background: #73818f;*/
}

.admin-pr-icons i{
    margin: 5px;
    font-size: 16px;
}

.admin-pr-icons .edit:hover{
    color: royalblue;
    cursor: pointer;
}

.admin-pr-icons .delete:hover{
    color: red;
    cursor: pointer;
}

.add-icon{
    width: 150px;
    height: 150px;
    margin: 30px 20px;
}

.add-icon:hover{
    color: royalblue;
    cursor: pointer;
}

.search-bar{
    padding: 8px 10px;
    border: none;
    width: 200px;
    outline-style: none;
    float: right;
    margin: 20px 10px 0 0;
    box-sizing: border-box;
    font: 14px 'Times New Roman';
}

.sr-icon{
    margin: 25px 0 0 0;
}

.search-div{
    float: right;
    margin-top: 40px;
}

.sweet-loading-area {
    width: 84%;
    float: right;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .sweet-loading-area{
        width: 100%;
    }
    .admin-pr-container{
        width: 100%;
        margin: 0;
    }
    .admin-pr-card{
        width: 250px;
    }
}