.work-container{
    width: 84%;
    float: right;
    margin: 60px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-content{
    position: relative;
    width: 200px;
    margin: 15px;
    margin-top: 10px;
    padding:20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    border-radius: 10px;
    transition: 0.5s;
    /*background-color: #FFFFFF;*/
    /*text-align: center;*/
    font-family: "Times New Roman";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.work-content:nth-child(2){
    background-image: linear-gradient(to right top , rgba(116, 247, 109,0.7), rgba(116, 247, 109,0.4),rgba(116, 247, 109,0.1));
    /*border: 2px solid rgba(28, 245, 17,0.5);*/
}
.work-content:nth-child(1){
    background-image: linear-gradient(to right top , rgba(17, 236, 181,0.7), rgba(17, 236, 181,0.4),rgba(17, 236, 181,0.1));
    /*border: 2px solid rgba(28, 245, 17,0.5);*/
}

.work-content:nth-child(3) {
    background-image: linear-gradient(to right top, rgba(255, 234, 18, 0.7), rgba(255, 234, 18, 0.4), rgba(255, 234, 18, 0.1));
    /*border: 2px solid rgba(28, 245, 17,0.5);*/
}

.work-info p{
    font: 600 30px "Times New Roman";
    margin: 0;
    color: #3a4248;
}

.work-info h5{
    margin: 0;
}

.work-info{
    align-items: center;
}

.work-info button{
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: none;
    background-color:transparent ;
    outline-style: none;
    font: 14px "Times New Roman";
}
.work-info button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.work-info button i{
    color: #3a4248;
}

.work-img{
    float: left;
    margin-right: 10px;
}
.work-img img{
    height: 50px;
    width: 50px;

}

.table-container{
    width: 84%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client-table{
    width: 340px;
    margin: 5px;
    font-family: "Times New Roman";
}
.client-table h4{
    margin: 5px;
}
.client-table table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    text-align: left;
}

.client-table:nth-child(1) th{
    background-color: rgba(17, 236, 181,0.3);
}
.client-table:nth-child(2) th{
    background-color: rgba(116, 247, 109,0.5);
}
.client-table:nth-child(3) th{
    background-color:rgba(255, 234, 18, 0.5);
}
.client-table th,td {
    text-align: left;
    padding: 8px;
    font-size: 14px;
}

.client-table td{
    font: 15px "Times New Roman";
}
.client-table tr{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.client-table tr:hover{
    background-color: rgba(0,0,0,0.07);
}
.work-head h4{
    color: #2f353a;
    flex: 1;
}
.work-head{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.work-head input{
    float: right;
    margin-bottom: 5px;
    border: none;
    width: 40%;
    outline-style: none;
    padding: 4px 10px;
    font: 14px 'Times New Roman';
    margin-right: 5px;
}

.client-table button{
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 4px 10px;
    background-color: rgba(0,0,0,0.1);
    font:600 12px "Times New Roman";
    outline-style: none;
}
.client-table button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

.btn-div{
    display: inline-flex;
}
.btn-div button{
    margin-right: 5px;
}
.btn-div button:last-child{
    margin-right: 0;
}
.sweet-loading-work {
    width: 84%;
    float: right;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .sweet-loading-work{
        width: 100%;
    }
    .work-container{
        width: 100%;
    }
    .table-container{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .work-content{
        margin-top: 0;
    }
    .work-container{
        width: 100%;
        margin: 60px auto 10px auto;
    }
    .table-container{
        width: 100%;
        margin: 20px auto;
    }
}
