.attorney-container{
    width: 84%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    float: right;
}

.attorney-card{
    width: 250px;
    margin: 10px 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    font: 14px 'Times New Roman';
    padding: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to right top,rgba(0,0,0,0.05),rgba(0,0,0,0.02),rgba(0,0,0,0));
    text-align: center;
}

.attorney-card img{
    width: 100%;
    margin: 0;
}

.attorney-card h3{
    margin: 5px 0 0 0;
    text-transform: capitalize;
}

.attorney-card p{
    margin: 0 0 5px 0;
    font: 600 14px 'Times New Roman';
    color: #3a4248;
    text-transform: capitalize;
}

.attorney-icons i{
    margin: 5px;
    font-size: 16px;
}

.attorney-icons i:hover{
    color: royalblue;
    cursor: pointer;
}
.attorney-icons i:last-child:hover{
    color: red;
    cursor: pointer;
}

.attorney-card:hover{
    background-image: linear-gradient(to left bottom,rgba(0,0,0,0.07),rgba(0,0,0,0.03),rgba(0,0,0,0));
}

.attorney-search{
    width: 100%;
    margin: 60px 5px 0 0;
}

.attorney-search i{
    margin:5px 0 0 10px;
    right: 150px;
    float: right;
}
.search-control{
    width: 150px;
    padding: 8px;
    float: right;
    border: none;
    border-radius: 2px;
    outline-style: none;
    font: 14px 'Times New Roman';
}
.attorney-btn{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    outline-style: none;
    border: 1px solid rgba(0,0,0,0.2);
}
.attorney-btn i{
    font-size: 60px;
}
.attorney-btn p{
    font: 20px 'Times New Roman';
}
.attorney-btn:hover{
    cursor: pointer;
    background-image:linear-gradient(to right top, rgba(75, 255, 242, 0.17),rgba(75, 255, 242, 0.07),rgba(75, 255, 242, 0));
}

.sweet-loading-attr {
    width: 84%;
    float: right;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .sweet-loading-attr{
        width: 100%;
    }
    .attorney-container{
        width: 100%;
    }
    .attorney-card{
        width: 300px;
    }
}