.pr-add-content{
    width: 100%;
    margin: 10px auto;
}
.pr-add-control{
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    font: 14px 'Times New Roman';
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    outline-style: none;
}