.about-container{
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 90px auto 20px auto;
    box-sizing: border-box;
}

.about-container .about-head{
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 0 0 20px 0;
    color: #413A3A;
}

.about-container .about-head span{
    text-align: center;
    font: 400 30px Times New Roman;
    text-transform: uppercase;
    line-height: 2;
}

.about-card{
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    font: 14px 'Times New Roman';
    padding: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to right top,rgba(0,0,0,0.05),rgba(0,0,0,0.02),rgba(0,0,0,0));
    text-align: center;
}

.about-card img{
    width: 100%;
    margin: 0;
}

.about-card h3{
    margin: 5px 0 0 0;
    text-transform: capitalize;
}

.about-card p{
    margin: 0 0 5px 0;
    font: 600 14px 'Times New Roman';
    color: #3a4248;
    text-transform: capitalize;
}

.about-card:hover{
    background-image: linear-gradient(to left bottom,rgba(0,0,0,0.07),rgba(0,0,0,0.03),rgba(0,0,0,0));
}

.sweet-loading-abt {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .about-container .about-head span{
        font-size: 22px;
    }
}