.side-navbar {
    height: 100%;
    width: 16%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.07);
    overflow-x: hidden;
    transition: 0.5s;
    color: #3a4248;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.side-navbar p {
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: left;
    padding: 14px 0;
    margin: 0;
    font: 600 18px "Times New Roman";
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.side-navbar p.dashboard:before {
    content: "\f0e4";
    font-family: FontAwesome;
    padding: 0 10px 0 15px;
    /*color: #A4F600;*/
    color: royalblue;
}

.side-navbar p.dashboard:hover:before {
    color: #FFFFFF;
}

.side-navbar ul li i {
    /*color: #706E6E;*/
    padding: 0 10px 0 15px;
}

.side-navbar ul li i:hover {
    color: #FFFFFF;
}

.side-navbar p:hover {
    background-color: royalblue;
    cursor: pointer;
    color: #FFFFFF;
}

.side-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-navbar ul li {
    padding: 0.9rem;
    font: 16px "Times New Roman";
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.side-navbar ul li:hover,.active-sn {
    background-color: royalblue;
    cursor: pointer;
    color: #ffffff;
}

.side-navbar ul li.profile:before {
    content: '\f040';
}

.side-navbar ul li.appoint:before {
    content: "\f27e";
}

.side-navbar ul li.work:before {
    content: "\f0b1";
}

.side-navbar ul li.practice-area:before {
    content: "\f24e";
}

.side-navbar ul li.post:before {
    content: "\f044";
}

.side-navbar ul li.attorney:before {
    content: "\f123";
}

.side-navbar ul li.contactus:before {
    content: "\f095";
}

.side-navbar ul li.footer:before {
    content: "\f1de";
}

.side-navbar ul li.setting:before {
    content: "\f085";
}

.side-navbar ul li:before {
    /*color: #73818f;*/
    color: #000000;
    font-family: 'FontAwesome';
    speak: none;
    padding: 0 10px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.side-navbar ul li:hover:before {
    color: #FFFFFF;
}

.main-content {
    box-sizing: border-box;
    width: 84%;
    float: right;
    padding: 10px 0 10px 0;
    font: 18px "Times New Roman";
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
}

.admin-cards {
    position: relative;
    width: 180px;
    margin: 20px;
    padding: 40px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    justify-content: center;
    border-radius: 10px;
    transition: 0.5s;
    background-image: linear-gradient(to bottom, rgba(255, 83, 83, 0), rgba(0, 0, 0, 0.1));
    /*background-color: rgba(0,0,0,0.04);*/
}

.admin-icons {
    padding: 0;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    /*box-shadow: 0 0 5px orangered;*/
}

.admin-icons img {
    height: 50px;
    width: 50px;
    padding: 15px;
    display: flex;
    align-content: center;

}

.cards-head {
    justify-content: center;
    text-align: center;
    margin: auto;
}

.admin-cards:after {
    position: absolute;
    top: 0;
    bottom: 100%;
    right: 0;
    left: 0;
    padding: 75% 10px 0 10px;
    opacity: 0;
    line-height: 1.5;
    background-image: linear-gradient(to top, rgba(255, 83, 83, 0), rgba(0, 0, 0, 0.1));
    /*background-image: linear-gradient(to top  ,rgba(255, 83, 83,0),rgba(65,105,225,0.2));*/
    /*background-color: rgba(65,105,225,0.2) ;*/
    color: #413A3A;
    word-spacing: 2px;
    font: 600 14px "Times New Roman";
    text-align: center;
    content: attr(data-text);
    border-radius: 10px;
    /*transition: 0.5s;*/
}

.admin-cards:hover:after {
    opacity: 1;
    bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.admin-cards:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 20px;
    background: #ffffff;
}

@media (max-width: 1000px) {
    .side-navbar {
        display: none;
    }

    .main-content {
        width: 100%;
        padding: 10px 0;
        margin-top: 45px;
    }

    .admin-icons{
        height: 60px;
        width: 60px;
    }

    .admin-icons img{
        height: 30px;
        width: 30px;
    }

    .admin-cards {
        width: 140px;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .cards-head h4 {
        font-size: 12px;
        margin: 10px 0;
    }

    .admin-cards:after {
        font-size: 14px;
        padding: 5px;
        display: none;
    }

    .admin-cards:hover {
        background-color: rgba(255, 83, 83, 0.7);
        padding: 10px;
    }
}