.side-drawer{
    position: fixed;
    background-color: #000;
    color: white;
    height: 100%;
    right: 0;
    top: 0;
    width: 60%;
    max-width: 400px;
    box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.5);
    transform: translateX(200%);
    transition: transform 0.5s ease-out;
    z-index: 200;
}

.side-drawer.open{
    transform: translateX(0px);
}

.side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li{
    margin: 1rem 0;
    font: 18px 'Francois One';
    text-transform: uppercase;
}


.side-drawer li.btn-map .aa{
    padding: 14px 0 !important;
    font: 12px 'Francois One';
    color: #fff;
    outline-style: none;
    background-color:#000;
    border: none;
    text-transform: capitalize;
}

.side-drawer li.btn-map .aa span{
    padding: 10px 20px;
    display: inline-block;
    zoom: 1;
    transition: 0.3s;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    color: #413A3A;
    background-color: #fff;
    margin: 0 5px 15px 0;
}

.side-drawer li:hover, .active{
    color: #706E6E;
    cursor: pointer;
}
.side-drawer li.btn-map .aa span:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    color: #000;
    background-color: #fff;
    cursor: pointer;
}