.lable-control-case{
    width: 23%;
    padding: 0;
}
.lable-end-case{
    width: 25%;
}
.case-content{
    /*display:block;*/
    width: 100%;
    margin: 0 auto 10px auto;
}

.case-control{
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.150);
    outline-style: none;
    font: 14px "Times New Roman";
}