.law-mod-container{
    margin: 10px;
}
.law-mod-container h2{
    font: 600 18px 'Times New Roman';
    width: 100%;
    box-sizing: border-box;
}
.law-mod-container textarea{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    font: 16px 'Times New Roman';
    padding: 5px 8px;
    border-radius: 5px;
    box-sizing: border-box;
    outline-style: none;
}
.law-mod-container button{
    padding: 8px 18px;
    margin: 5px 0;
    outline-style: none;
    border-radius: 20px;
    font: 600 14px 'Times New Roman';
    border: 1px solid rgba(0,0,0,0.1);
    background-color: royalblue;
    color: #ffffff;
}
.law-mod-container button:hover{
    box-shadow: 0 0 5px royalblue;
    cursor: pointer;
}