.attorney-content{
    width: 100%;
    margin-bottom: 10px;
}
.attorney-control{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    border-radius: 2px;
    outline-style: none;
    font: 14px 'Times New Roman';
}
.attorney-choose{
    width: 100%;
    font: 14px 'Times New Roman';
    padding: 8px 0;
    outline-style: none;
}