.contact-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 90px auto 20px auto;
    background-color: #fff;
}

.contact-head{
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 0 0 20px 0;
    color: #413A3A;
}

.contact-head span{
    text-align: center;
    font: 400 30px Times New Roman;
    text-transform: uppercase;
    line-height: 2;
}

.location{
    width: 400px;
    margin: 20px;
    box-sizing: border-box;
}

.h2{
    padding: 0;
    text-transform: capitalize;
    font: 24px "Times New Roman";
    /*margin: 10px;*/
}

.h1{
    padding: 0;
    text-transform: capitalize;
    font:24px "Times New Roman";
    margin: 20px 0px;
}
.location ul{
    margin: 0;
    padding: 0;
    width: 100%;
}

.location ul li{
    padding: 0 0 0 40px;
    margin: 0 0 30px 0;
    list-style: none;
    position: relative;
    color: #413A3A;
    font: 20px "Times New Roman";
}

.location ul li.address:before{
    font-size: 25px;
    content: "\f041";
}

.location ul li.phone:before{
    font-size: 25px;
    content: "\f095";
}

.location ul li.mail:before{
    font-size: 25px;
    content: "\f003";
}

.location ul li.website:before{
    font-size: 25px;
    content: "\f0ac";
}


.location ul li:before{
    color: #413A3A;
    position: absolute;
    left: 0;
    top: .05em;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.contact-form{
    width: 400px;
    margin: 20px;
    box-sizing: border-box;
}

.form-content{
    width: 100%;
    /*margin: 10px 0;*/
    margin:10px auto;
    box-sizing: border-box;
}

.name-text{
    width: 42.5%;
    padding:10px;
    margin: 0 15px 0 0;
    border: 1px solid rgba(0,0,0,0.1);
    font: 300 16px "Times New Roman";
}

.name-text:last-child{
    margin: 0;
}

.form-control{
    width: 100%;
    padding:10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    font: 300 16px "Times New Roman";
}

.send-btn{
    width: 25%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    font: 16px Time New Roman;
    border: none;
    color: #FFFFFF;
    background-color: royalblue;
    outline-style: none;
}

.send-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 15px royalblue;
}
.error-span{
    color: red;
    margin: 2px 10px;
    font: 16px 'FreeSans';
}

.sweet-loading-c {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .location ul li{
        font-size: 18px;
    }

    .location ul{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .contact-form{
        padding:0 20px;
    }
    .name-text{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .h2{
        margin:20px;
        font-size: 20px;
    }
    .contact-head span{
        font-size: 22px;
    }
    .h1{
        font-size: 20px;
    }
}