.admin-post-container{
    width: 84%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    float: right;
}
.ad-post-content{
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.ad-post-head{
    font: 20px 'Times New Roman';
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: capitalize;
}
.ad-post-head h3{
    background-color: rgba(0,0,0,0.3);
    margin: 0;
    padding: 20px;
}
.ad-post-describe{
    font:14px 'Times New Roman';
    padding: 0 20px;
}
.ad-post-describe p{
    margin: 0;
    color: #000;
    word-spacing: 2px;
    text-align: center;
}
.ad-post-icons{
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.ad-post-icons i{
    color: #000000;
    margin: 5px;
}
.ad-post-icons i:hover{
    color: royalblue;
    cursor: pointer;
}
.ad-post-icons i:last-child:hover{
    color: red;
    cursor: pointer;
}
.ad-post-label{
    width: 100%;
    font: 15px 'Times New Roman';
    padding: 0 20px;
    background-color: rgba(0,0,0,0.3);
    box-sizing: border-box;
    text-transform: capitalize;
}
.ad-post-label:last-child{
    padding-bottom: 10px;
}
.ad-post-btn{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: transparent;
    outline-style: none;
    border: 1px solid rgba(0,0,0,0.2);
}
.ad-post-btn i{
    font-size: 60px;
}
.ad-post-btn p{
    font: 20px 'Times New Roman';
}
.ad-post-btn:hover{
    cursor: pointer;
    background-image:linear-gradient(to right top, rgba(75, 255, 242, 0.17),rgba(75, 255, 242, 0.07),rgba(75, 255, 242, 0));
}

.sweet-loading-post {
    width: 84%;
    float: right;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .sweet-loading-post{
        width: 100%;
    }
    .admin-post-container{
        width: 100%;
    }
    .ad-post-head{
        font: 16px 'Times New Roman';
    }
}