.practice-container{
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0;
    margin: auto;
    box-sizing: border-box;
}

.practice-container .practice-head{
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 0 0 20px 0;
    color: #413A3A;
}

.practice-container .practice-head span{
    text-align: center;
    font: 400 30px Times New Roman;
    text-transform: uppercase;
    line-height: 2;
}

.practice-container .practice-cards{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    width: 250px;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
}

.practice-container .practice-cards .practice-icon{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height: auto;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    box-shadow: 0 0 20px white;
}

.practice-container .practice-cards .practice-icon img{
    height: 50px;
    width: 50px;
}

.practice-container .practice-cards .practice-details h1{
    text-align: center;
    font:bold 16px Time New Roman;
    text-transform: capitalize;
}

.practice-container .practice-cards .practice-details p{
    text-align: center;
    font: 14px 'Time New Roman';
}

.practice-cards:hover{
    background-image: linear-gradient(to top, rgba(255, 83, 83, 0), rgba(0, 0, 0, 0.05));
}
.explore-btn{
    width: 100%;
    font: 20px 'Times New Roman';
    text-align: center;
    margin: 10px 0;
}
.explore-btn span{
    width: auto;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: royalblue;
    color: #ffffff;
    text-transform: capitalize;
}
.explore-btn span:hover{
    cursor: pointer;
    box-shadow: 0 0 5px royalblue;
}

.sweet-loading-pa {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .practice-container .practice-head span{
        font-size: 22px;
    }
    .practice-container .practice-cards{
        width: 300px;
        margin: 20px;
        padding: 15px;
    }
}