.view-post-container{
    margin: 0;
    margin-top: 30px;
}
.view-post-img{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    height: 300px;
    border-radius: 10px;
}
.view-post-img h3{
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    padding:20px 10px 0px 20px;
    margin: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.view-post-label{
    color: #ffffff;
    background: rgba(0,0,0,0.5);
    padding-left: 20px;
    font: 14px 'Times New Roman';
    text-transform: capitalize;
}
.view-post-label:last-child{
    padding-bottom: 10px;
}
.view-post-details{
    color: #ffffff;
    padding: 20px;
    font: 14px 'Times New Roman';
    word-spacing: 4px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.view-post-details p{
    margin: 0;
}
.view-post-details1{
    font: 16px 'Times New Roman';
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    /*margin: auto;*/
    line-height: 1.5;
}
