.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 1);
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-content {
    width: 300px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    text-align: justify;
    font: 500 16px "Times New Roman";
    line-height: 1.5;
}

.footer-content span {
    font: 600 20px "Times New Roman";
    line-height: 1.5;
}

.footer-content hr {
    border: 1px solid royalblue;
}

.social-media {
    width: 100%;
    margin-bottom: 20px;
}

.social-media ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.social-media ul li {
    padding: 10px;
}

.social-media ul li a {
    color: #FFFFFF;
}

.social-media ul li a:hover {
    cursor: pointer;
    color: royalblue;
}

.copy-content {
    background-color: royalblue;
    color: #000;
    width: 100%;
    text-align: center;
}

.copy-content p {
    font: 600 14px "Times New Roman";
}

.copy-content p a {
    text-decoration: none;
    color: #FFFFFF;
}

.copy-content p a:hover {
    color: lightgrey;
}

@media (max-width: 1036px) {
    .footer-content {
        width: 250px;
    }
}

@media (max-width: 886px) {
    .footer-content {
        width: 400px;
    }

    .copy-content p {
        font-size: 12px;
        line-height: 1.5;
        font-weight: 500;
    }

    .footer-content span {
        font-size: 16px;
    }
}