.post-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
}
.post-content{
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-radius: 5px;
    background-image: linear-gradient(to bottom , rgba(255, 83, 83, 0), rgba(0, 0, 0, 0.05));
}
.post-content:hover{
    background-image: linear-gradient(to top , rgba(255, 83, 83, 0), rgba(0, 0, 0, 0.05));
}
.blog-head{
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 0 0 20px 0;
    color: #413A3A;
}
.blog-head span{
    text-align: center;
    font: 400 30px Times New Roman;
    text-transform: uppercase;
    line-height: 2;
}
.post-head{
    font: 20px 'Times New Roman';
    color: #ffffff;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: capitalize;
}
.post-head h3{
    background-color: rgba(0,0,0,0.3);
    margin: 0;
    font-size: 18px;
    padding: 10px 20px 5px 20px;
}
.post-describe{
    font:14px 'Times New Roman';
    padding: 0 20px;
}
.post-describe p{
    margin: 0;
    color: #000;
    word-spacing: 2px;
    text-align: center;
}
.post-icons{
    width: 30%;
    text-align: left;
    margin: 10px 20px;
    box-sizing: border-box;
    font: 14px 'Times New Roman';
}
.post-icons i{
    color: #000000;
    margin: 5px;
}
.post-icons:hover{
    color: royalblue;
    cursor: pointer;
}
.post-label{
    width: 100%;
    font: 15px 'Times New Roman';
    padding: 0 20px;
    background-color: rgba(0,0,0,0.3);
    box-sizing: border-box;
    text-transform: capitalize;
}
.post-label:last-child{
    padding-bottom: 10px;
}
.l-explore-btn{
    width: 100%;
    font: 20px 'Times New Roman';
    text-align: center;
    margin: 10px 0;
}
.l-explore-btn span{
    width: auto;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: royalblue;
    color: #ffffff;
    text-transform: capitalize;
}
.l-explore-btn span:hover{
    cursor: pointer;
    box-shadow: 0 0 5px royalblue;
}
.sweet-loading-bg {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .blog-head span{
        font-size: 22px;
    }
}