.appoint-container {
    float: right;
    width: 84%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    margin: 30px auto;
}

.appoint-container table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    /*background-image: linear-gradient(to left  ,rgba(255, 83, 83,0.1),rgba(65,105,225,0));*/
    background-image: linear-gradient(to top, rgba(255, 83, 83, 0), rgba(0, 0, 0, 0.07));
}

.appoint-container th, td {
    text-align: left;
    padding: 10px 8px;

}

.appoint-container td {
    font: 15px "Times New Roman";
}

.appoint-container tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.appoint-container tr:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.appoint-container th {
    /*background-color: royalblue;*/
    /*color: #706E6E;*/
    color: #FFFFFF;
    /*background-color: rgba(0,0,0,0.1) ;*/
    /*background-color: rgba(65,105,225,0.2) ;*/
    background-color: #3a4248;
    font: 500 14px "Times New Roman";
}

.class-center {
    text-align: center;
}

.date-input {
    font: 15px "Times New Roman";
    border: none;
    background: transparent;
    outline-style: none;
}

.select-input {
    padding: 4px;
    font: 12px "Times New Roman";
    border: none;
    background: transparent;
    outline-style: none;
}

.btn-confirm {
    font: 15px "Times New Roman";
    text-transform: capitalize;
    border-radius: 2px;
    padding: 4px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-confirm:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.select-input:hover {
    cursor: pointer;
}

.appoint-nav {
    background-color: rgba(0, 0, 0, 0.07);
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.appoint-nav .ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin: 0;
    flex: 1;
}

.appoint-nav ul li button {
    padding: 10px;
    font: 600 14px "Times New Roman";
    color: #3a4248;
}

.appoint-nav .ul li button {
    background: transparent;
    border: none;
    outline-style: none;
}

.appoint-nav .ul li button:hover {
    color: #73818f;
    cursor: pointer;
}

.srch-app {
    float: right;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin: 0;
}

.srch-app-text {
    padding: 4px 10px;
    border: none;
    outline-style: none;
    font: 14px 'Times New Roman';
    background: transparent;
    width: 150px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.pagination li {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font: 600 14px "Times New Roman";
    margin: 10px 0;
    color: #2f353a;
}

.pagination li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.th-hover:hover {
    cursor: pointer;
}

.sweet-loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0%;
}

@media (max-width: 1000px) {
    .appoint-container {
        width: 100%;
    }

    .appoint-container tr, .appoint-container th {
        display: block;
    }

    .appoint-container tr {
        border: 1px solid #ccc;
    }

    .appoint-container td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        display: block;
    }

    .appoint-container td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .class-center {
        text-align: left;
    }

    .appoint-container td:nth-of-type(1):before {
        content: "Id";
    }

    .appoint-container td:nth-of-type(2):before {
        content: "F. Name";
    }

    .appoint-container td:nth-of-type(3):before {
        content: "L. Name";
    }

    .appoint-container td:nth-of-type(4):before {
        content: "Contact No.";
    }

    .appoint-container td:nth-of-type(5):before {
        content: "Email Id";
    }

    .appoint-container td:nth-of-type(6):before {
        content: "DOA";
    }

    .appoint-container td:nth-of-type(7):before {
        content: "Message";
    }

    .appoint-container td:nth-of-type(8):before {
        content: "Slot";
    }

    .appoint-container td:nth-of-type(9):before {
        content: "Status";
    }

    .appoint-nav {
        display: block;
    }

    .srch-app {
        margin: 10px 0;
    }

    .spinner {
        width: 100%;
    }
}