.l-practice-container {
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px auto 10px auto;
    box-sizing: border-box;
}

.l-practice-container .l-practice-head {
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 0 0 20px 0;
    color: #413A3A;
}

.l-practice-container .l-practice-head span {
    text-align: center;
    font: 400 30px Times New Roman;
    text-transform: uppercase;
    line-height: 2;
}

.l-practice-container .l-practice-cards {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    width: 250px;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
}

.l-practice-container .l-practice-cards .l-practice-details h1 {
    text-align: center;
    font: bold 20px Time New Roman;
    text-transform: capitalize;
}

.l-practice-container .l-practice-cards .l-practice-details p {
    text-align: center;
    font: 14px 'Time New Roman';
}

.l-practice-cards:hover {
    background-image: linear-gradient(to top, rgba(255, 83, 83, 0), rgba(0, 0, 0, 0.05));
}

.l-search-div {
    width: 100%;
    display: flex;
}

.l-search-div i {
    margin: 5px;
}

.l-search-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    font: 14px 'Times New Roman';
    outline-style: none;
}

.sweet-loading-l {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .l-practice-container .l-practice-head span {
        font-size: 22px;
    }

    .l-practice-container .l-practice-cards {
        width: 290px;
    }

    .l-practice-container .l-practice-cards .l-practice-details h1 {
        font-size: 18px;
    }
}