.ad-foot-container{
    width: 83%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 60px auto;
}
.ad-foot-info{
    width: 300px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.ad-foot-info h1 {
    font: 600 20px 'Times New Roman';
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    color: #706E6E;
}
.ad-foot-info-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    font: 16px 'Times New Roman';
}
.ad-foot-info-content div{
    width: 100%;
}
.add-label{
    color: #000;
    font: 600 14px 'Times New Roman';
}
.add-data{
    color: #413A3A;
    margin: 0 5px 0 20px;
}
.add-data a{
    text-decoration: none;
    color:#413A3A ;
    box-sizing: border-box;
}
.ad-foot-edit{
    text-align: center;
    background: transparent;
    border: none;
    font: 16px 'Times New Roman';
    outline-style: none;
}
.ad-foot-edit:hover{
    color: royalblue;
    cursor: pointer;
}
.sweet-loading-foot{
    width: 84%;
    float: right;
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .ad-foot-container{
        width: 100%;
        margin: 50px auto 10px auto;
    }
}