.card-container{
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0;
    margin: auto;
    box-sizing: border-box;
}

.cards{
    box-sizing: border-box;
    margin: 20px;
    height:220px;
    padding: 20px;
    width: 240px;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
}

.card-icon{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height: auto;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 30px white;
}
.card-icon img{
    height: 50px;
    width: 50px;
}

.card-details{
    margin: auto;
}
.card-details h1{
    text-align: center;
    font:bold 30px Time New Roman;
}

.card-details p{
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    font: bold 18px Time New Roman;
}
.sweet-loading-wr {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .cards{
        width: 300px;
    }
}