.ad-set-container{
    box-sizing: border-box;
    width: 84%;
    float: right;
    margin: 50px auto 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ad-set-content h1{
    font: 600 18px 'Times New Roman';
    text-align: left;
    width: 400px;
    margin: 20px auto;
}
.ad-set-content{
    width: 300px;
    margin: 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ad-set-content label{
    width: 100%;
    box-sizing: border-box;
    font: 14px 'Times New Roman';
    margin: 0 0 5px 0;
    color: #3a4248;
}
.ad-set-content input{
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    outline-style: none;
    font: 14px 'Times New Roman';
}
.shadow-div{
    width: 320px;
    margin: 20px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 5px;
}
.ad-set-content button{
    padding: 8px 10px;
    margin: 0;
    width: 48%;
    border: none;
    background-color: royalblue;
    font: 600 14px 'Times New Roman';
    color: #ffffff;
    border-radius: 5px;
    outline-style: none;
}
.ad-set-content button:nth-child(2){
    margin: 0 0 20px 0;
    background-color: red;
}
.ad-set-content button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px royalblue;
}
.ad-set-content button:nth-child(2):hover{
    box-shadow: 0 0 10px red;
}
.error-span-vl{
    color: red;
    padding:10px;
}
@media (max-width: 1000px) {
    .ad-set-container{
        width: 100%;
    }
}